In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("grid_info_5.csv")

In [3]:
df.head()

,class_label,grid_id,center_latitude,center_longitude,latitude_range,longitude_range
0,0,Grid_0_0,-87.1875,-174.375,"(-90.0, -84.375)","(-180.0, -168.75)"
1,1,Grid_0_1,-87.1875,-163.125,"(-90.0, -84.375)","(-168.75, -157.5)"
2,2,Grid_0_2,-87.1875,-151.875,"(-90.0, -84.375)","(-157.5, -146.25)"
3,3,Grid_0_3,-87.1875,-140.625,"(-90.0, -84.375)","(-146.25, -135.0)"
4,4,Grid_0_4,-87.1875,-129.375,"(-90.0, -84.375)","(-135.0, -123.75)"

In [8]:
df['latitude_range'][0]

'(-90.0, -84.375)'

In [10]:
type(df['class_label'][0])

numpy.int64

In [17]:
df['latitude_range'] = df['latitude_range'].apply(lambda x: tuple(map(float, x.strip('()').split(','))))

In [19]:
df['latitude_range'][0]

(-90.0, -84.375)